@font-face{font-family:comicsans;src:url('assets/fonts/comicsans.ttf');}
@font-face{font-family:Hangyaku;src:url('assets/fonts/Hangyaku.ttf');}
*{
  font-family:comicsans;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-y: scroll;
}
html{
  width: 100%;
  background-color: #eeeeee;
  overflow: hidden;
}
body{
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*こっから雑に扱ってもいい子*/
#movabledescription {
  display: none;
  position: fixed;
  pointer-events: none;
  background-color: #363636e2;
  color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10000;
}

/*logとtext*/
#log{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  height: 200px;
  border: 1px solid #ffffff;
  background-color: rgba(0,0,0,0);
  position: fixed;
  bottom: 150px;
  right: -300px;
  color: #fefefe;
  overflow-y: hidden;
  transition: right 0.3s;
  z-index: 254;
}
#log .opener{
  width: 20px;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #fefefe;
  text-align: center;
  cursor: pointer;
  z-index: 254;
}
#log .log{
  width: 300px;
  height: 100%;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.8);
  color: #fefefe;
  text-align: left;
  font-size: 14px;
  transition: right 0.3s;
  z-index: 253;
}
#text {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.2em;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  white-space: nowrap;
  overflow: hidden;
  width: fit-content; /* 文字の長さに応じた幅 */
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
.color-red{
  color: #ff1919;
}
.color-pink{
  color: #ff56e9;
}
.color-blue{
  color: #1919ff;
}

/*sideMenu*/
#sideMenu {
  text-align: left;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  color: #333344;
  background-color: #cecece;
  transition: left 0.3s;
  z-index: 2000;
}
#sideMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sideMenu ul li {
  padding: 3px;
}
#sideMenu ul li a {
  color: #000000;
  text-decoration: none;
}
#sideMenu button {
  background: none;
  border: none;
  color: #000000;
  font: hangyaku;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

/* notceのやつ */
#notice{
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 700px;
  background-color: #def0ff;
  color:#2b2b2b;
  border: 2px solid #cfe9ff;
  z-index: 1020;
}
#notice .x{
  position: absolute;
  right: 8px;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  z-index: 1019;
}
#notice .list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
#notice .list .item{
  margin-top: 5px;
  border: 1px solid #b5dcff;
  padding: 2px 6px;
  cursor: pointer;
}
#notice .show{
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}
#notice .show .back{
  text-align: left;
  font-size: 20px;
  padding: 6px 3px;
  cursor: pointer;
  border-bottom: 2px solid #cfe9ff;
}
#notice .show .title{
  text-align: center;
  font-size: 24px;
  padding: 6px 3px;
  border-bottom: 2px solid #cfe9ff;
}
#notice .show .body{
  text-align: left;
  font-size: 18px;
  padding: 6px 3px;
}

/*ここからrankとeuroのあれ*/
#upperUI {
  display: flex;
  border-bottom: 3px solid #aeaeae;
  background-color: #cecece;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 10px;
  z-index: 997;
  align-items: center;
  /* justify-content: center; */
}
#upperUI .euro button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #2b2b2b;
}
#upperUI .rpt .bar{
  position: absolute;
  width: 50%;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  background-color: #d5ffd6;
  text-align: center;
}
#upperUI .rpt .bar .inner{
  position: absolute;
  width:0%;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9bff9d;
  z-index: 999;
  display: inline-block;
  vertical-align: middle;
}
#upperUI .rpt .text{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  color: #2b2b2b;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
}
#menuToggle {
  display: block;
  position: absolute;
  right:30px;
  top: 50%;
  transform: translateY(-50%);
  font-size:40px;
  cursor: pointer;
  z-index: 998;
}

/* ゲーム全体のやつ */
#GameZone {
  margin-top: 75px;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin-bottom: 65px;
}

/* こっからhomeとかtabとか */
#Tabs {
  display: flex;
  height: 65px;
  font-size: 45px;
  justify-content: center;
  gap: 20%;
  padding: 5px 5%;
  background-color: #dedede;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 998;
}
.TabImg{
  width:40px;
  height:40px;
}
#HomeTab, #InventoryTab, #QuestTab, #ChatTab, #ProfileTab {
  display: none;
}
#HomeTab{
  display: block;
}
#BattleArea, #HomeArea, #EventArea{
  display: none;
  margin: 0 auto;
}
#HomeArea{
  text-align: left;
  margin: 0 auto;
}
.HomeButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 180px;
  height: 50px;
  text-align: left!important;
}
.HomeBigButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.HomeSButton {
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.HomeBButton{
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 250px;
  height: 250px;
  text-align: left!important;
}

/*こっから酒場*/
.r-go{
  width: 200px;
  height: 350px;
  background-color: #f0f8ff;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  padding: 8px;
  margin: 0 auto;
  font-size:8px;
  text-align: left;
  z-index: 24;
}
.r-go-img{
  margin: 0 auto;
  width: auto;
  height: auto;
}

/* 出発前に */
#HomeArea #selectChara{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}
#HomeArea #selectChara .chara{
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#HomeArea #selectChara .chara .img{
  width: 100px;
  height: 100px;
}
#HomeArea #selectChara .chara .name{
  width: 60px;
  height: 16px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
  white-space: nowrap;
}
#HomeArea #selectChara .chara .name .txt{
  display: inline-block;
  font-size: 12px;
}
@keyframes scroll{
  0%{transform: translateX(0);}
  50%{transform: translateX(-3em);}
  100%{transform: translateX(-3em);}
}

/* overField --開放空間-- */
#overField{
  display: none;
  margin: 0 auto;
}

#overField #NowMap{
  border: 2px solid #000000;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#overField #Inventory{
  display: none;
  position: absolute;
  text-align: center;
  background-color: #ddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  padding: 3px;
  gap: 5px;
}
#overField #Inventory .leftside{
  width: 270px;
  height: 495px;
  border: 2px solid #000000;
  overflow-x: hidden;
}
#overField #Inventory .status{
  max-height: 180px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 4px;
}
#overField #Inventory .skills{
  max-height: 80px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 4px;
}
#overField #Inventory .equips{
  max-height: 180px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#overField #Inventory .equipChange{
  max-height: 180px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#overField #Inventory .rightside{
  width: 270px;
  height: 495px;
  border: 2px solid #000000;
  overflow-x: hidden;
}
#overField #Inventory .slashs{
  max-height: 150px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#overField #Inventory .magics{
  max-height: 150px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#overField #Inventory .sutefuri{
  text-align: left!important;
  border: 1px solid #23232369;
  padding: 3px;
  margin: 0;
  width: 260px;
  max-height: 100px;
}

/* ここからおしごと */
.task-bar-container {
  position: relative;
  width: 60%;
  background-color: #ddd;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.task-bar {
  height: 100%;
  background-color: #8b8b8b;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
.task-text {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* こっからクエスト */
#quest-list{
  width: 62%;
  background-color: #bbc;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  margin: 0 auto;
}
.quest-main{
  width: 90%;
  border: 1px solid #fffc52;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.quest-daily{
  width: 90%;
  border: 1px solid #fffec7;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* ここからchat */
#ChatTab #chat {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    flex-direction: column;
}
/*ログインのやつ*/
#login{
  display: block;
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #def0ff;
  border: 1px solid #b5dcff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease; 
  z-index: 1234;
  user-select: none;
  pointer-events: none;
}
#login input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b5dcff;
}
#login button {
  width: 100%;
  padding: 10px;
  background-color: #cfe9ff;
  border: 2px solid #b5dcff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}
#login button:hover {
  background-color: #cfe9ff;
}
#logout{
  cursor: pointer;
}
.messages{
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}
.message {
  width: 100%;
  margin-bottom: 10px;
  text-align: left!important;
  padding: 8px 12px;
  background-color: #cecece;
  border-radius: 5px;
  max-width: 80%;
}
.message.username {
  align-self: flex-end;
  font-family: Hangyaku!important;
}
#message-input {
  border: none;
  padding: 15px;
  flex: 1;
  font-size: 16px;
}
#send-button {
  border: none;
  padding: 15px;
  background-color: #c8c8c8;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
#send-button:hover {
  background-color: #8b8b8b;
}
#room-select {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
}

/* スキルショップ */
#skillshopcorner{
  width: 720px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 10px;
}
#skillshopcornerback{
  display: none;
}
.card{
  width: 350px;
  height: 150px;
  background-color: #fefefe;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  text-align: left;
  position: relative;
}
.card-buy{
  position: absolute;
  bottom: 0px;
  left:0px
}

/* ここからbattle */
.EnemyName{
  max-width: 80px;
  overflow-y: hidden;
}
#toolsdesuwa{
  border: 1px solid #222;
  max-width: 100px;
  word-wrap: break-word;
  white-space: normal;
}

#players{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.players{
  display: block;
  width: 140px;
  height: 187px;
  padding: 5px;
  flex-direction: column;
  overflow-x: hidden;
  text-align: left;
  position: relative;
}
/* .players .effects{} */
.players .main{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.players .main .skill{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #5085ff; /*これは属性ごとに変わるようにしたい*/
  background-color: #a7c0ff;
}
.players .main .skill .back{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.players .main .img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
  opacity: 0.7;
}
.players .border{
  margin-top: -40px; /*初登場！負のマージン！！*/ 
  border: 1px solid #222;
  border-radius: 5px;
  padding: 3px;
}
.players .border .name{
  max-width: 100px;
  overflow-x: scroll;
  white-space: nowrap;
}
.players .border .level{
  max-width: 40px;
  overflow-x: scroll;
  white-space: nowrap;
}
.players .border .health .num{
  font-size:10px;
}
.players .border .health .bar{
  width: 90%;
  height: 10px;
  background-color: #2b2b2b;
  border: 1px solid #dedede;
}
.players .border .health .bar .inner{
  width: 100%;
  height: 100%;
  background-color: #a3ffa3;
}
.players .border .mp .num{
  font-size:10px;
}
.players .border .mp .bar{
  width: 90%;
  height: 10px;
  background-color: #2b2b2b;
  border: 1px solid #dedede;
}
.players .border .mp .bar .inner{
  width: 100%;
  height: 100%;
  background-color: #799fff;
}


#enemies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.enemies{
  display: block;
  width: 140px;
  max-width: 140px;
  height: 200px;
  max-height: 200px;
  padding: 5px;
  flex-direction: column;
  overflow-x: hidden;
  text-align: left;
}
.enemies .border{
  border: 1px solid #222;
  border-radius: 5px;
}
.enemies .border .name{
  max-width: 100px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.enemies .border .name .txt{
  display: inline-block;
  font-size: 16px;
  animation: scroll 10s linear infinite;
}
.enemies .border .level{
  max-width: 40px;
  overflow-x: scroll;
  white-space: nowrap;
}
.enemies .border .health .num{
  font-size:10px;
}
.enemies .border .health .bar{
  width: 90%;
  height: 10px;
  background-color: #2b2b2b;
  border: 1px solid #dedede;
}
.enemies .border .health .bar .inner{
  width: 100%;
  height: 100%;
  background-color: #a3ffa3;
}
.enemies .border .mp .num{
  font-size:10px;
}
.enemies .border .mp .bar{
  width: 90%;
  height: 10px;
  background-color: #2b2b2b;
  border: 1px solid #dedede;
}
.enemies .border .mp .bar .inner{
  width: 100%;
  height: 100%;
  background-color: #799fff;
}
.enemies .img{
  max-width: 100%;
  max-height: 200px;
}

.effects{
  display: flex;
  width: 100%;
  height: 35px;
  padding-bottom: 5px;
  overflow: hidden;
}
.buffs{
  width: 20px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buffs .top{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff5858;
}
.buffs .bottom{
  width: 20px;
  height: 20px;
  background: #ff5858 center/cover no-repeat;
  background-color: #ff5858 !important;
}


.debuffs{
  width: 50px;
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.debuffs .top{
  width: 50px;
  height: 50px;
  background: #5858ff center/cover no-repeat;
  background-color: #5858ff !important;
}
.debuffs .bottom{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #5858ff;
}

.handles{
  width: 50px;
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.handles .top{
  position: absolute;
  width: 50px;
  height: 25px;
  background: #ffef74;
  transform: rotate(45deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.handles .top::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background: #ffef74;
  transform: rotate(90deg);
}
.handles .bottom{
  width: 50px;
  height: 50px;
  background: #ffef74 center/cover no-repeat;
}




.turrets{
  display: block;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}