@font-face{font-family:comicsans;src:url('comicsans-font.ttf');}
@font-face{font-family:Hangyaku;src:url('Hangyaku-font.ttf');}
* {
  font-family:comicsans;
  /* margin: 0 auto; */
  padding: 2px;
  box-sizing: border-box;
}
body {
  text-align: center;
  color:#000000;
  background-color: #eeeeee;
}
#All{
  width: 100%;
  height: 950px;
  margin: 0 auto;
}
/*notice*/
#Notice-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000;/*たしか一番上にやるやつ*/
}
#Notice-button-img {
  width: 100%;
  height: 100%;
}
#Notice-page{
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 900px;
  background-color: #dfdfdf;
  border: 2px solid #FFE500;
  z-index: 9999;/*たしか一番上にやるやつ*/
}
/*ここからrankとeuroのあれ*/
.rank-euro-zone {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ccc;
  align-items: center;
  gap: 10px;
  justify-content: space-between; /* 要素間のスペースを均等に */
}
.rank {
  font-size: 20px;
  margin-bottom: 10px;
}
.rpt-bar-container {
  position: relative;
  width: 60%;
  background-color: #ddd;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.rpt-bar {
  height: 100%;
  background-color: #8b8b8b;
  width: 0%; /* 初期の経験値割合 */
  transition: width 0.3s ease-in-out;
}
.rpt-text {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.euro {
  font-size: 20px;
  margin-top: 10px;
}
/* ゲーム全体のやつ */
#GameZone {
  display: block;
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
/* こっからhomeとかtabとか */
#TabZone {
  display: flex;
  width: 100%;
  height: 50px;
  flex-wrap: wrap;
  gap:15%;
  margin: 0 auto;
}
.TabImg{
  width:40px;
  height:40px;
}
#HomeTab, #InventoryTab, #QuestTab, #ChatTab, #ProfileTab {
  display: none;
  margin: 0 auto;
}
#HomeTab{
  display: block;
}
#GameArea, #HomeArea, #EventArea, #NowMap {
  display: none;
  margin: 0 auto;
}
#HomeArea{
  text-align: left!important;
  margin: 0 auto;
}
.HomeButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 180px;
  height: 50px;
  text-align: left!important;
}
.HomeBigButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.HomeSButton {
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.HomeBButton{
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 250px;
  height: 250px;
  text-align: left!important;
}
#InventoryArea {
  display: none;
  position: fixed;
  text-align: center;
  background-color: #ddd;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  padding: 3px;
}
#Status,#Sutefuri {
  text-align: left!important;
  border: 2px solid #000000;
  padding: 3px;
  margin: 0;
  width: 260px;
  height: 490px;
}
/* ここからおしごと */
.task-bar-container {
  position: relative;
  width: 60%;
  background-color: #ddd;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.task-bar {
  height: 100%;
  background-color: #8b8b8b;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
.task-text {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* ここからダンジョン内のそれ */
#skillshopcorner{
  width: 620px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
#skillshopcornerback{
  display: none;
}

/* こっからクエスト */
#quest-list{
  width: 62%;
  background-color: #bbc;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0 auto;
}
.quest-main{
  width: 90%;
  border: 1px solid #fffc52;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.quest-daily{
  width: 90%;
  border: 1px solid #fffec7;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* ここからchat */
.login-container, .chat-container {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    flex-direction: column;
}
.login-container {
    display: flex;
}
.login-form {
    padding: 20px;
}
.login-form input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #c8c8c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #8b8b8b;
}
.messages{
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    
}
.message {
    width: 100%;
    margin-bottom: 10px;
    text-align: left!important;
    padding: 8px 12px;
    background-color: #cecece;
    border-radius: 5px;
    max-width: 80%;
}
.message.username {
    align-self: flex-end;
    font-family: Hangyaku!important;
}
#message-input {
    border: none;
    padding: 15px;
    flex: 1;
    font-size: 16px;
}
#send-button {
    border: none;
    padding: 15px;
    background-color: #c8c8c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#send-button:hover {
    background-color: #8b8b8b;
}
#room-select {
    display: none;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;

}

/* ここからcard..いる？これ */

#enemies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.enemy{
  display: none;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}
#players{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.player{
  display: none;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}