@font-face{font-family:comicsans;src:url('comicsans-font.ttf');}
@font-face{font-family:Hangyaku;src:url('Hangyaku-font.ttf');}
* {
  font-family:comicsans;
  /* margin: 0 auto; */
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
}
body {  
  color:#000000;
  background-color: #eeeeee;
}
#All{
  width: 100%;
  height: 950px;
  margin: 0 auto;
}
#movabledescription {
  position: fixed;  /* 画面上の絶対位置に固定 */
  pointer-events: none;  /* マウスイベントを通過させる */
  background-color: rgba(136, 136, 136, 0.138);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000;  /* 他の要素の上に表示 */
}

/*sideMenu*/
#sideMenu {
  text-align: left;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  color: #333344;
  background-color: #cecece;
  transition: left 0.3s;
}
#sideMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sideMenu ul li {
  padding: 3px;
}
#sideMenu ul li a {
  color: #000000;
  text-decoration: none;
}
#sideMenu button {
  background: none;
  border: none;
  color: #000000;
  font: hangyaku;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}
#menuToggle {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #000000;
  border: none;
  font-size: 26px;
  cursor: pointer;
}
/*notice*/
#Notice-page{
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 900px;
  background-color: #dfdfdf;
  border: 2px solid #FFE500;
  z-index: 9999;/*たしか一番上にやるやつ*/
}
/*ここからrankとeuroのあれ*/
.rank-euro-zone {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ccc;
  align-items: center;
  gap: 10px;
  justify-content: space-between; /* 要素間のスペースを均等に */
}
.rank {
  font-size: 20px;
  margin-bottom: 10px;
}
.rpt-bar-container {
  position: relative;
  width: 60%;
  background-color: #ddd;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.rpt-bar {
  height: 100%;
  background-color: #8b8b8b;
  width: 0%; /* 初期の経験値割合 */
  transition: width 0.3s ease-in-out;
}
.rpt-text {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.euro {
  font-size: 20px;
  margin-top: 10px;
}
/* ゲーム全体のやつ */
#GameZone {
  display: block;
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
/* こっからhomeとかtabとか */
#TabZone {
  display: flex;
  width: 100%;
  height: 50px;
  flex-wrap: wrap;
  gap:15%;
  margin: 0 auto;
}
.TabImg{
  width:40px;
  height:40px;
}
#HomeTab, #InventoryTab, #QuestTab, #ChatTab, #ProfileTab {
  display: none;
  margin: 0 auto;
}
#HomeTab{
  display: block;
}
#BattleArea, #HomeArea, #EventArea, #NowMap {
  display: none;
  margin: 0 auto;
}
#HomeArea{
  text-align: left;
  margin: 0 auto;
}
.HomeButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 180px;
  height: 50px;
  text-align: left!important;
}
.HomeBigButton {
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.HomeSButton {
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 350px;
  height: 80px;
  text-align: left!important;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.HomeBButton{
  display: block;
  background-color: #000000;
  border: 3px solid #fffc52;
  color: #f0f9ff;
  padding: 5px;
  margin: 0;
  width: 250px;
  height: 250px;
  text-align: left!important;
}
#InventoryArea {
  display: none;
  position: fixed;
  text-align: center;
  background-color: #ddd;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  padding: 3px;
  gap: 5px;
}
#Iblock1{
  width: 270px;
  height: 495px;
  border: 2px solid #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}
#IStatus{
  overflow-y: scroll;
  max-height: 180px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#ISkills{
  overflow-y: scroll;
  max-height: 80px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#ITools{
  overflow-y: scroll;
  max-height: 180px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#Iblock2{
  width: 270px;
  height: 495px;
  border: 2px solid #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}
#ISlashs{
  overflow-y: scroll;
  max-height: 120px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#ISlashAppearence{
  text-align: left!important;
  overflow-y: scroll;
  max-height: 80px;
  width: 260px;
  font-size: 14px;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 5px;
}
#IMagics{
  overflow-y: scroll;
  max-height: 120px;
  width: 260px;
  text-align: left;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#IMagicAppearence{
  text-align: left!important;
  overflow-y: scroll;
  max-height: 80px;
  width: 260px;
  border: 1px solid #23232369;
  word-wrap: break-word;
  white-space: normal;
}
#ISutefuri {
  text-align: left!important;
  border: 1px solid #23232369;
  padding: 3px;
  margin: 0;
  width: 260px;
  overflow-y: scroll;
  max-height: 100px;
}
/* ここからおしごと */
.task-bar-container {
  position: relative;
  width: 60%;
  background-color: #ddd;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.task-bar {
  height: 100%;
  background-color: #8b8b8b;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
.task-text {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* ここからダンジョン内のそれ */
#skillshopcorner{
  width: 620px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
#skillshopcornerback{
  display: none;
}
.card{
  border: 1px solid #222;
  border-radius: 5px;
  overflow-x: scroll;
  margin: 5px 0;
  text-align: left!important;
  width: 300px;
  height: 101.33px;
  padding: 2px;
}
.card-titletext{
  width: 100%;
  overflow-x: auto;
}

/* こっからクエスト */
#quest-list{
  width: 62%;
  background-color: #bbc;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 6px;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0 auto;
}
.quest-main{
  width: 90%;
  border: 1px solid #fffc52;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.quest-daily{
  width: 90%;
  border: 1px solid #fffec7;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* ここからchat */
.login-container, .chat-container {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    flex-direction: column;
}
.login-container {
    display: flex;
}
.login-form {
    padding: 20px;
}
.login-form input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #c8c8c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #8b8b8b;
}
.messages{
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    
}
.message {
    width: 100%;
    margin-bottom: 10px;
    text-align: left!important;
    padding: 8px 12px;
    background-color: #cecece;
    border-radius: 5px;
    max-width: 80%;
}
.message.username {
    align-self: flex-end;
    font-family: Hangyaku!important;
}
#message-input {
    border: none;
    padding: 15px;
    flex: 1;
    font-size: 16px;
}
#send-button {
    border: none;
    padding: 15px;
    background-color: #c8c8c8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#send-button:hover {
    background-color: #8b8b8b;
}
#room-select {
    display: none;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;

}

/* ここからbattle */


.EnemyName{
  max-width: 80px;
  overflow-x: auto;
  overflow-y: hidden;
}
#toolsdesuwa{
  border: 1px solid #222;
  max-width: 100px;
  word-wrap: break-word;
  white-space: normal;
  overflow-y: scroll;
}

#enemies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.enemies{
  display: none;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}
#players{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.players{
  display: none;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}

.turrets{
  display: block;
  width: auto;
  height: 100px;
  padding: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  text-align: left;
}