html{
    margin: -8px;
    overflow: hidden;
    user-select:none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

/* #region nicotext */
.nicotext{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 2.0s linear;
    white-space: nowrap;
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 320px;
    height: 24vh;
    border: 2px solid #ffffff;
        border-left: none;
    position: fixed;
    left: -334px;
    color: #fefefe;
    overflow-y: hidden;
    transition: left 1.0s ease;
    z-index: 10;
}
#log.tog{
    left: 54px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background-color: #000000ef;
    text-align: center;
    cursor: pointer;
    z-index: inherit;
}
#log .log{
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden; overflow-y: scroll;
    background-color: #000000de;
    text-align: left;
    font-size: 14px;
    transition: right 0.3s;
    z-index: inherit;
}
#text{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    white-space: nowrap;
    overflow: hidden;
    width: fit-content; /* 文字の長さに応じた幅 */
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.color-red{
    color: #ff1919;
}
.color-pink{
    color: #ff56e9;
}
.color-blue{
    color: #1919ff;
}
/* #endregion */

/* #region description */
#movableDescription{
    display: none;
    position: fixed;
    pointer-events: none;
    background-color: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 256;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: 2147483647;
}
.tk.cenXY{
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.tk.cenX{
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.tk.cenY{
    top: 50% !important;
    transform: translateY(-50%) !important;
}
/* #endregion */



水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background-color: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}


/* こっから今回の */
body{
    background-color: #363636;
    overflow: hidden;
    user-select: none;
}


#map{
    display: block;
    width: 100vw;
    height: 600px;
    padding: 50px 20px;
    background-color: #323232;
}
#map .coma{
    width: 30px;
    aspect-ratio: 2/3;
    position: relative;
}
#map .coma .hontai{
    width: 30px;
    aspect-ratio: 2/3;
    background: #262626;
    clip-path: polygon(5% 0, 25% 0, 25% 12.5%, 40% 12.5%, 40% 0, 60% 0, 60% 12.5%, 75% 12.5%, 75% 0, 95% 0, 95% 35%, 70% 35%, 70% 70%, 85% 70%, 85% 80%, 100% 80%, 100% 100%, 0 100%, 0 80%, 15% 80%, 15% 70%, 30% 70%, 30% 35%, 5% 35%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#map .coma .before{
    width: 30px;
    aspect-ratio: 2/3;
    background: #d4d4d4;
    clip-path: polygon(5% 0, 25% 0, 25% 12.5%, 40% 12.5%, 40% 0, 60% 0, 60% 12.5%, 75% 12.5%, 75% 0, 95% 0, 95% 35%, 70% 35%, 70% 70%, 85% 70%, 85% 80%, 100% 80%, 100% 100%, 0 100%, 0 80%, 15% 80%, 15% 70%, 30% 70%, 30% 35%, 5% 35%);;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: -1;
}
#map .mas .coma{
    z-index: 2;
}
#map .mas .coma .before{
    z-index: 0;
}
#map .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}
#map .container .row{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    gap: 7px;
}
#map .container .row.due{
    margin-left: 87.5px;
}
#map .container .mas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    aspect-ratio: 9/10;
    background-color: #cfe9ff;
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    position: relative;
    cursor: url(assets/systems/hammer.png), auto;
    position: relative;
}

#map .container .mas.consored::before,
#map .container .mas.consored::after{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: opacity .2s, transform .25s;
  border-radius: inherit;
}
#map .container .mas.none.consored::before,
#map .container .mas.none.consored::after{
    background: #00000000;
    opacity: 0;
}
#map .container .mas.consored::before{
    /* カクシタワタシ */
    background: #00000080;
    opacity: 1;
    z-index: 10;
}
#map .container .mas.consored::after{
    /* 斜線 */
    background-image:repeating-linear-gradient(135deg, #ffffff30 0 4px, transparent 4px 8px);
    mix-blend-mode: screen;
    opacity: 1;
    z-index: 11;
}

#map .container .mas.none{
    background-color: #00000000;
}
#map .container .mas .img{
    /* img */
    display: block;
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
}
#map .container .mas.consored .img{
    opacity: 0;
}