@font-face{src:url('assets/fonts/comicsans.ttf');font-family: comicsans;}
@font-face{src:url("assets/fonts/hangyaku.ttf");font-family: hangyaku;}
@font-face{src:url('assets/fonts/kurobara.ttf');font-family: kurobara;}
@font-face{src: url("assets/fonts/misaki.ttf");font-family: misaki;}
html{
    margin: -8px;
    overflow: hidden;
    user-select:none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    /* 画像をドラッグできないようにするやつ */
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

/* #region nicotext */
.nicotext{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 2.0s linear;
    white-space: nowrap;
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 320px;
    height: 24vh;
    border: 2px solid #ffffff;
     border-left: none;
    position: fixed;
    left: -334px;
    color: #fefefe;
    overflow-y: hidden;
    transition: left 1.0s ease;
    z-index: 10;
}
#log.tog{
    left: 54px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background-color: #000000ef;
    text-align: center;
    cursor: pointer;
    z-index: inherit;
}
#log .log{
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden; overflow-y: scroll;
    background-color: #000000de;
    text-align: left;
    font-size: 14px;
    transition: right 0.3s;
    z-index: inherit;
}
#text{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    white-space: nowrap;
    overflow: hidden;
    width: fit-content; /* 文字の長さに応じた幅 */
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.color-red{
    color: #ff1919;
}
.color-pink{
    color: #ff56e9;
}
.color-blue{
    color: #1919ff;
}
/* #endregion */

/* #region description */
#movableDescription{
    display: none;
    position: fixed;
    pointer-events: none;
    background-color: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 256;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: 2147483647;
}
/* #endregion */

水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background-color: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}


/* こっから今回の */
body{
  background-color: #363636;
  overflow: hidden;
  user-select: none;
}

#canva{
  display: contents;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #ffffff00;
  /* pointer-events: none; */
  user-select: none;
  z-index: 23;
}

#gameArea{
  display: block;
  width:80%;
  height: 550px;
  opacity: 1;
  padding: 12px;
}
#PhaseBar {
  width: 60%;
  margin: 0 auto;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 20px;
  padding-left: 5%;
  padding-right:5%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 80px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
  z-index: 23;
}
.card-img {
  width: 75px;
  margin: 0 auto;
  display: block;
  z-index: 23;
}
#NoteCardArea{
  width: 90%;
  border: 1px solid #000000;
  margin:0 auto;

}
#NoteCardA{
  margin: 0 auto;
  background-color: #cacaca;
  padding: 5px;
  overflow: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
}
#NoteCardM{
  margin: 0 auto;
  background-color: #cacaca;
  padding: 5px;
  overflow: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
}
.notecard {
  width: 40px!important;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  z-index: 23;
}
.notecard-img {
  width: 30px;
  margin: 0 auto;
  display: block;
  z-index: 23;
}
.none{background-color: #dddddd;}
.G{background-color: #575757!important;}
.N{background-color: #777!important;}
.R{background-color: #80ee80!important;}
.SR{background-color: #ffff6b!important;}
.SSR{background-color: #f64bff!important;}
.UR{background-color: #ff4060!important;}


#PandEsUI {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

#PandEsUI .human{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100px;
  color: #ffffff;
}
#PandEsUI .human .name{
  font-size: 28px;
}
#PandEsUI .human .shield{
  padding: 0px 4px;
  border: 1px solid #4473ad;
  border-radius: 3px;
  font-size: 29px;
  color: #cfe9ff;
}
#PandEsUI .human .health{
  font-size: 40px;
  color: #ffffff;
}
#PandEsUI .human .maxhealth{
  font-size: 20px;
  color: #7e7e7e;
}
#PandEsUI .human .healthBar{
  margin-top: 1px;
  width: 95%;
  height: 12px;
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%); /*左上だけ欠けてる感じ*/
  background-color: #151515;
}
#PandEsUI .human .healthBar .innerBar{
  height: 100%;
  background-color: #d40000;
}
#PandEsUI .human .effect{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  position: relative;
}
#PandEsUI .human .effect .buff, #PandEsUI .human .effect .debuff{
  width: calc(50% - 2px);
  height: 20px;
  padding: 1px 2px 1px 5px;
  border: 1px solid #cfe9ff;
  border-radius: 3px;
  font-size: 14px;
  color: #555555;
  text-align: center;
}
#PandEsUI .human .effect .buff .appear{
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid #cfe9ff;
  position: absolute;
  top: 0px;
  left: 0px;
}
#PandEsUI .human .effect .debuff .appear{
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid #ffcfcf;
  position: absolute;
  top: 0px;
  left: 0px;
}
#PandEsUI .human .effect .buff .appear .img, #PandEsUI .human .effect .debuff .appear .img{
  width: 35%;
  height: calc(100% - 2px);
}
#PandEsUI .human .effect .buff .appear .time, #PandEsUI .human .effect .debuff .appear .time{
  padding-left: 1px;
  font-size: 20px;
}

#PhaseUI{
  text-align: center;
  margin: 0 auto;
  flex: 1;
}
#ShowPhase{font-size: 35px;}
#ShowCardInfo{
  width: 50%;
  text-align: center;
  position:absolute;
  display:none;
  height:120px;
  left:25%;
  right:25%;
  background-color:#777;
  border:2px solid #000000;
  z-index: 24;
}
.hidden {display: none !important;}
.visible {display: block !important;}
.cooldown{
  opacity: 0.5;
}
#PhaseStart{
  display:none;
}
#StageButton{
  margin: 0 auto;
  padding: 5px;
  display: block;
  overflow: auto;
}
.stagebar-big{
  display: block;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #737373;
  background-color: #a0a0a0;
  padding: 5px;
  z-index: 23;
}
.stagebar-small{
  display: block;
  width: 40%;
  height: 50px;
  border: 2px solid #737373;
  background-color: #a0a0a0;
  padding: 5px;
  z-index: 23;
}