@font-face{src:url('assets/fonts/comicsans.ttf');font-family: comicsans;}
@font-face{src:url("assets/fonts/hangyaku.ttf");font-family: hangyaku;}
@font-face{src:url('assets/fonts/kurobara.ttf');font-family: kurobara;}
@font-face{src: url("assets/fonts/misaki.ttf");font-family: misaki;}
html{
    margin: -8px;
    user-select:none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    /* 画像をドラッグできないようにするやつ */
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

/* #region nicotext */
.nicotext{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 2.0s linear;
    white-space: nowrap;
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 320px;
    height: 24vh;
    border: 2px solid #ffffff;
     border-left: none;
    position: fixed;
    left: -334px;
    color: #fefefe;
    overflow-y: hidden;
    transition: left 1.0s ease;
    z-index: 10;
}
#log.tog{
    left: 54px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background-color: #000000ef;
    text-align: center;
    cursor: pointer;
    z-index: inherit;
}
#log .log{
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden; overflow-y: scroll;
    background-color: #000000de;
    text-align: left;
    font-size: 14px;
    transition: right 0.3s;
    z-index: inherit;
}
#text{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    white-space: nowrap;
    overflow: hidden;
    width: fit-content; /* 文字の長さに応じた幅 */
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.color-red{
    color: #ff1919;
}
.color-pink{
    color: #ff56e9;
}
.color-blue{
    color: #1919ff;
}
/* #endregion */

/* #region description */
#movableDescription{
    display: none;
    position: fixed;
    pointer-events: none;
    background-color: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 256;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: 2147483647;
}
/* #endregion */

水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background-color: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* #region loginArea */
#loginArea{
    display: none;
    width: 100vw;
    height: 100vh;
    background: #865e00;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 255;
}
#loginArea.tog{
    display: block;
}
#loginArea .center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    aspect-ratio: 5 / 4;
    background: #9bce36;
    /* border: 4px solid #000000; */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginArea .center .x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#loginArea .center .x .inner{
    display: block;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(0 7.5%, 7.5% 0, 50% 40%, 92.5% 0, 100% 7.5%, 60% 50%, 100% 92.5%, 92.5% 100%, 50% 60%, 7.5% 100%, 0% 92.5%, 40% 50%);
    pointer-events: none;
}
#loginArea .center .column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
#loginArea .center .column .youso{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}
#loginArea .center .column .youso .label{
    font-size: 16px;
}
#loginArea .center .column .youso input{
    padding: 4px 7px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    color: #4d4d4d;
}
#loginArea .center .column .send{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    aspect-ratio: 5/1;
    /* border: 2px solid #006319; */
    border-radius: 10px;
    background: #14b13b;
    scale: 1;
    margin-top: 15px;
    text-align: center;
    color: #85ff4c;
    font-size: 21px;
    transition: all 0.1s ease;
    cursor: pointer;
}
#loginArea .center .column .send:hover{
    scale: 1.1;
}
#loginArea .center .column .send:active{
    scale: 0.9;
}

#loginArea .dolphin{
    width: 70px;
    height: fit-content;
    position: absolute;
    bottom: 5px;
    right: 15px;
}
#loginArea .dolphin .fuki{
    opacity: 1;
    width: 175%;
    padding: 2.5px;
    aspect-ratio: 12 / 5;
    background: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 85%, 60% 100%, 40% 85%, 0% 85%);
    position: absolute;
    bottom: 90%;
    right: 10px;
    transition: opacity 0.3s ease;
}
#loginArea .dolphin .fuki:hover{
    opacity: 0.2;
}
#loginArea .dolphin .fuki:active{
    opacity: 1;
}
#loginArea .dolphin .fuki .text{
    font-size: 14px;
    color: #000000;
}
#loginArea .dolphin img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
/* #endregion */

/* #region under */
#homeArea .under{
    display: block;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: -80px;
    left: 0;
    transition: all 0.5s ease;
    box-sizing: border-box;
    z-index: 6;
}
#homeArea .under.tog{
    bottom: 0;
}
#homeArea .under .opener{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-top: 2px solid #000000;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    position: absolute;
    top: -50px;
    left: 0;
    box-sizing: border-box;
}
#homeArea .under .main{
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-sizing: border-box;
}

/* #endregion */

/* #region titleArea */
#titleArea{
    display: block;
    width: 100vw;
    height: 100vh;
    background: #001748;
    z-index: 256;
}
#titleArea.tog{
    display: block;
}
#titleArea .title{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
#titleArea .title .text{
    display: inline-block;
    background: linear-gradient(345deg, #c5faff 23%, #ffffff 80%);
    background-clip: text;
    font-size: 55px;
    -webkit-text-fill-color: transparent;
}
/* #endregion */