/* #region スターターパック */
html{
    margin: -8px;
    overflow: hidden;
    user-select:none;
}
body{
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
    touch-action: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

img{
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
    display: none;
}
:focus{
    outline: none;
}

/* #region nicotext */
.nicotext{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 2.0s linear;
    white-space: nowrap;
    pointer-events: none;
}
/* #endregion */

/* #region tobitext */
.tobitext{
    opacity: 1;
    padding: 4px 8px;
    background: rgba(0,0,0,0.72);
    border-radius: 8px;
    transform: translate(-50%, -50%) translateY(0px);
    white-space: nowrap;
    color: #ffffff;
    position: absolute;
    transition: none;
    z-index: 2147483647;
    pointer-events: none;
}
/* #endregion */

/* #region logとtext */
#log{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 320px;
    height: 24vh;
    border: 2px solid #ffffff;
     border-left: none;
    position: fixed;
    left: -334px;
    color: #fefefe;
    overflow-y: hidden;
    transition: left 1.0s ease;
    z-index: 10;
}
#log.tog{
    left: 54px;
}
#log .opener{
    width: 30px;
    height: 100%;
    background-color: #000000ef;
    text-align: center;
    cursor: pointer;
    z-index: inherit;
}
#log .log{
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden; overflow-y: scroll;
    background-color: #000000de;
    text-align: left;
    font-size: 14px;
    transition: right 0.3s;
    z-index: inherit;
}
#text{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;

    white-space: nowrap;
    overflow: hidden;
    width: fit-content; /* 文字の長さに応じた幅 */
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* #endregion */

/* #region description */
#mobileDesc{
    display: none;
    position: fixed;
    pointer-events: none;
    background-color: #363636e2;
    color: #f0f8ff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 256;
}
#mobileDesc.show{
    display: block;
}
/* #endregion */

/* #region tk */
.tk{
    position: fixed;
}
.tk.mostop{
    z-index: 2147483647;
}
.tk.cenXY{
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.tk.cenX{
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.tk.cenY{
    top: 50% !important;
    transform: translateY(-50%) !important;
}
/* #endregion */

/* #region alertD */
.alertD{
    display: block;
    width: 320px;
    height: 70px;
    border-radius: 15px;
    box-shadow: #000000 5px 5px 20px;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.1s linear;
    will-change: bottom;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 2147483647;
}
.alertD.show{
    bottom: 20px;
}
.alertD .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.alertD .row .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 20px;
}
.alertD .row .text{
    font-size: 18px;
}
.alertD .x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #00000000;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 20px;
    cursor: pointer;
}
.alertD .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
.alertD .bar .inner{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* #endregion */

水色 #f0f8ff, #eaf5ff, #def0ff, #cfe9ff, #b5dcff
紫色 #f8f6ff, #f5f2ff, #f1edff, #ece8ff, #e9e4ff
橙色 #fffaf3, #fff7eb, #fff3e2, #fff0d9, #ffeccf
緑色 #f6fff2, #eeffe7, #e6ffdc, #ddffd0, #d4ffc3

#template{
    /* 順番だけ */
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    /* aspect-ratio: 1/1; */
    padding: 5px;
    background-color: #f0f8ff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 999;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* #endregion */


/* #region hakaisatsu */
#hakaisatsu{
    height: 120vh;
    aspect-ratio: 1/1;
    position: fixed;
    top: -10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2147483647;
    pointer-events: none;
}
/* #endregion */

/* #region area */
.area{
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    background: var(--area-back);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--area-rank);
}
.area.appe{
    display: block;
}

#movlis{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: fit-content;
    padding: 10px;
    background: #00000023;
    position: fixed;
    color: #e3e3e3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2100;
}
#movlis.tog{
    display: flex;
}
#movlis .title{
    font-size: 20px;
    text-align: center;
}
#movlis .list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7.5px;
}
#movlis .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 5px 0;
    background: #4d4d4d;
    border: 2px solid #00000000;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
#movlis .list .item:hover{
    border-color: #e3e3e3;
}
/* #endregion */

/* #region upper 10 */
#upper{
    display: block;
    width: calc(100vw - 40px);
    height: 80px;
    opacity: 0.1;
    position: fixed;
    top: 0;
    right: 0;
    transition: top 0.5s ease, opacity 0.3s cubic-bezier(0.25, 0.1, 0.30, 1.0);
    box-sizing: border-box;
    z-index: 10;
}
#upper:hover{
    opacity: 1.0;
}
/* スマホならずっと表示 */
@media(width <= 480px){
    #upper{
        opacity: 1.0;
    }
}
#upper.agari{
    top: -80px;
    opacity: 1.0;
}
#upper .ue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1/1;
    background: inherit;
    position: absolute;
    right: 0;
    bottom: -40px;
    cursor: pointer;
}
#upper .ue::after{
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    background: #0d155b;
    clip-path: polygon(0 30%, 50% 80%, 100% 30%);
    transform: rotateX(0deg);
    transition: transform 0.5s ease;
}
#upper.agari .ue::after{
    transform: rotateX(180deg);
}

#upper .home{
    display: block;
    width: 100%;
    height: 100%;
    background: #bdd0df;
    box-sizing: border-box;
}
#upper .home .rank{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    aspect-ratio: 1/1;
    font-size: 24px;
    color: #000000;
    font-family: cube12;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 2;
}
#upper .home .rank .label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #c8e4ff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
#upper .home .rank .bar{
    display: block;
    width: calc(100vw - 40px);
    height: 10px;
    background: #b0c9dd;
    position: absolute;
    left: 40px;
    bottom: 0;
    z-index: -1;
}
#upper .home .rank .bar .inner{
    display: block;
    width: 0;
    height: 100%;
    background: #74c3ff;
    transition: width 0.1s ease;
}
#upper .home .rank .bar .val{
    opacity: 1;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    font-size: 12px;
    color: #000000;
    font-family: cube12;
    z-index: 1;
}
#upper:hover .home .rank .bar .val{
    opacity: 0.1;
}
/* #endregion */

/* #region under 9 */
#under{
    /* display: block; */
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: -100vh;
    left: 0;
    will-change: bottom;
    /* transition: all 0.5s ease; */
    box-sizing: border-box;
    touch-action: none; /* pointer events 対応。スクロール抑制 */
    z-index: 6;
}
#under .opener{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50px;
    background: repeating-linear-gradient(to right, #ff4747 0%, #ff4747 7.5%, #ffffff 7.5%, #ffffff 15%);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
    position: absolute;
    top: -50px;
    left: 0;
    box-sizing: border-box;
}
#under .main{
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 4px solid #773000;
    border-top: 0;
    border-bottom: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region loginArea 5 */
#loginArea{
    content: 'login';
}
#loginArea .center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    aspect-ratio: 5 / 4;
    background: #9bce36;
    /* border: 4px solid #000000; */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginArea .center .x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#loginArea .center .x .inner{
    display: block;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(0 7.5%, 7.5% 0, 50% 40%, 92.5% 0, 100% 7.5%, 60% 50%, 100% 92.5%, 92.5% 100%, 50% 60%, 7.5% 100%, 0% 92.5%, 40% 50%);
    pointer-events: none;
}
#loginArea .center .column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
#loginArea .center .column .youso{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}
#loginArea .center .column .youso .label{
    font-size: 16px;
}
#loginArea .center .column .youso input{
    padding: 4px 7px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    color: #4d4d4d;
}
#loginArea .center .column .send{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    aspect-ratio: 5/1;
    /* border: 2px solid #006319; */
    border-radius: 10px;
    background: #14b13b;
    scale: 1;
    margin-top: 15px;
    text-align: center;
    color: #85ff4c;
    font-size: 21px;
    transition: all 0.1s ease;
    cursor: pointer;
}
#loginArea .center .column .send:hover{
    scale: 1.1;
}
#loginArea .center .column .send:active{
    scale: 0.9;
}

#loginArea .dolphin{
    width: 70px;
    height: fit-content;
    position: absolute;
    bottom: 5px;
    right: 15px;
}
#loginArea .dolphin .fuki{
    opacity: 1;
    width: 175%;
    padding: 2.5px;
    aspect-ratio: 12 / 5;
    background: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 85%, 60% 100%, 40% 85%, 0% 85%);
    position: absolute;
    bottom: 90%;
    right: 10px;
    transition: opacity 0.3s ease;
}
#loginArea .dolphin .fuki:hover{
    opacity: 0.2;
}
#loginArea .dolphin .fuki:active{
    opacity: 1;
}
#loginArea .dolphin .fuki .text{
    font-size: 14px;
    color: #000000;
}
#loginArea .dolphin img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
/* #endregion */

/* #region homeArea 2 */
#homeArea{
    content: 'home';
}

#homeArea .col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 30px 0;
}
#homeArea .col .button{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.0;
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 0 100%);
    transition: all calc(var(--button-wait)s) ease;
    font-size: 22px;
    cursor: pointer;
    box-sizing: border-box;
}
#homeArea .col .button:hover{
    scale: 1.1;
}
#homeArea .col .button:active{
    scale: 0.95;
}

#homeArea .col .button.a{
    width: 40%;
    aspect-ratio: 5/1;
}
#homeArea .col .button.b{
    width: 30%;
    aspect-ratio: 4/1;
}

#homeArea .col.c1{
    /* ロント・コネクト */
    background: #09004b;
    border: 2px solid #5eff52;
    box-shadow: 0 0 15px #5eff52b7;
}
#homeArea .col.c1 .button{
    background: #14b13b;
    color: #85ff4c;
}
#homeArea .col.c2 .button{
    background: #b5791f;
    color: #f4c836;
}

#homeArea .col.c2{
    /* 農業！ */
    margin-top: 20px;
    background: #ab8725;
    border: 2px solid #ffff52;
}
/* #endregion */

/* #region farmArea 2 */
#farmArea{
    content: 'farm';
}
#farmArea .farm{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80%;
    aspect-ratio: 1/1;
    background: #ffe096;
    margin: 0 auto;
}
#farmArea .BTS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#farmArea .BTS .bt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    aspect-ratio: 2 / 1;
    scale: 1.0;
    border-radius: 15px 0 15px 0;
    background: #14b13b;
    color: #b7ff95;
    font-size: 18px;
    transition: all 0.1s ease;
    cursor: pointer;
}
#farmArea .BTS .bt:hover{
    scale: 1.1;
}
#farmArea .BTS .bt:active{
    scale: 0.95;
}
/* #endregion */

/* #region titleArea 7 */
#titleArea{
    content: 'title';
}
#titleArea .title{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
#titleArea .title .text{
    display: inline-block;
    background: linear-gradient(345deg, #c5faff 23%, #ffffff 80%);
    background-clip: text;
    font-size: 55px;
    -webkit-text-fill-color: transparent;
}
/* #endregion */

/* #region lobyArea 2 */
#lobyArea{
    content:'loby'
}
#lobyArea .main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    justify-items: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
#lobyArea .main .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    aspect-ratio: 1/1;
}
#lobyArea .main .icon img{
    width: 60%;
    aspect-ratio: 1/1 ;
    object-fit: contain;
}
#lobyArea .main .icon .text{
    line-height: 20px;
    text-align: center;
}

.dun_select{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 75%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 20;
}
.dun_select.chara{
    display: grid;
    align-content: start;
    justify-content: center;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
}
.dun_select .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 60px; */
    aspect-ratio: 3/1;
    /* background-image: それぞれの画像; */
    border: 5px solid #000000;
    position: relative;
    color: #000000;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
}
.dun_select.chara .item{
    aspect-ratio: 3/2;
}
.dun_select.stage .item img{
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: -1;
}
.dun_select.chara .item img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    position: absolute;
    top: 10%;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
}
.dun_select.chara .item span{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
}
/* #endregion */

/* #region dungeonArea 3 */
#dungeonArea{
    content:'dungeon'
}
#dungeonArea .field{
    /* canvas*/
    display: block;
    margin: 0 auto;
    background: #ffffff;
    border: 10px groove #bcff76;
}
/* #endregion */

/* #region btArea 4 */
#btArea{
    content:'bt'
}
/* #endregion */

