@font-face {font-family:hangyaku; src:url("assets/fonts/hangyaku.ttf");}
@font-face {font-family:comicsans; src:url("assets/fonts/comicsans.ttf");}
/* ここ変えといて */
#gameArea{
    display:flex;
    flex-direction: row;
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    font-family: comicsans;
    padding: 10px;
    background-color: #f0f8ff;
    
}

#debug .data{
    display: none;
    background-color: #4e7aa3b6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 250px;
    z-index: 205;
    overflow-x: hidden;
    overflow-y: scroll;
}

#UIs{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: calc(100% - 20px);
    background-color: #eaf5ff;
}
#nowPoints{
    display: block;
}
#buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 130px;
    background-color: #d9eeff69;
    border-radius: 50px;
    margin: 10px;
}
#buttons .hit, #buttons .stand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 65px;
    border: 4px solid #cfe9ff;
    background-color: #def0ff;
    font-size: 30px;
}

#cardPlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:30px
}
#cardPlaces .dealer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 130px;
    width: 400px;
    background-color: #eaf5ff;
    border-radius: 50px;
    margin: 10px;
}
#cardPlaces .player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 130px;
    width: 400px;
    background-color: #eaf5ff;
    border-radius: 50px;
    margin: 10px;
}
.card{
    display: block;
    height: 90px;
    width: 60px;
    position: relative;
    border: 4px solid #cfe9ff;
    background-color: #def0ff;
}
.card .upper{
    position: absolute;
    top: 0px;
    right: 3px;
    font-size: 20px;
}
.card .num{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: hangyaku;
    text-align: center;
}
.card .lower{
    position: absolute;
    bottom: 0px;
    left: 3px;
    transform: rotate(180deg);
    font-size: 20px;
}   

#euro{
    border: 1px solid #cfe9ff;
}